rust/target/
rust/resources/jassets/*
!rust/resources/jassets/j4rs-*

# Ignore Gradle project-specific cache directory
java/.gradle

# Ignore Gradle build output directory
java/pigot/build
java/pigot/bin
